In [1]:
import pandas as pd

In [10]:
import numpy as np

In [17]:
#read csv file into pandas dataframe
df=pd.read_csv("Test_data.csv")

In [19]:
#Take a look at first few rows
print(df.head())

   Name     Sex   Age
0  John    Male  12.0
1   Tom    Male  15.0
2   NaN  Female   NaN

In [20]:
#using isnull() method to find missing values
print(df.isnull())

    Name    Sex    Age
0  False  False  False
1  False  False  False
2   True  False   True

In [21]:
#summarizing the missing values
print(df.isnull().sum())

Name    1
Sex     0
Age     1
dtype: int64

In [22]:
#check to find if there are any missing values
print(df.isnull().values.any())

True

In [23]:
#total count of missing values
print(df.isnull().sum().sum())

2

In [24]:
#Find the median value
median=df['Age'].median()

In [25]:
#replace the NA value with the median
df['Age'].fillna(median,inplace=True)

In [26]:
df

   Name     Sex   Age
0  John    Male  12.0
1   Tom    Male  15.0
2   NaN  Female  13.5

In [27]:
#write to csv file
df.to_csv('Testdata_modified.csv')